<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="casas-buttons-grid.css">
    </head>
    <body>
        <div class="button-grid">
            <button>
                <span class="text1">Clave</span>
                <span class="text2">Ubicación</span>
                <span class="text3">Lotes</span>
                <span class="text4">Contratista</span>
                <span class="text5">%Avance</span>
            </button>
            <button>Button 2</button>
            <button>Button 3</button>
            <button>Button 4</button>
            <button>Button 5</button>
          </div>
    </body>
</html>

  