<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="nav-bar.css">
    </head>
    <body>
        <div class="header">
            <div class="left-section">
                <img class="logo" src="icons/youtube-logo.svg">
            </div>
            <div class="middle-section">
                middle section
            </div>
            <div class="right-section">
                <img class="profile-pic" src="icons/my-channel.jpeg">
            </div>
        </div>
    </body>
</html>