<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="input_grid.css">
</head>
<body>
    <div class="grid">
        <div class="row">
            <input class="num-sub" type="text" name="field1" readonly placeholder="Text Field 1">
            <input type="text" name="field2" readonly placeholder="Text Field 2">
            <input type="text" name="field3" readonly placeholder="Text Field 3">
            <input type="text" name="field4" placeholder="Input Field">
            <input type="text" name="field5" readonly placeholder="Text Field 4">
        </div>
        <div class="row">
            <input class="num-sub" type="text" name="field6" readonly placeholder="Text Field 1">
            <input type="text" name="field7" readonly placeholder="Text Field 2">
            <input type="text" name="field8" readonly placeholder="Text Field 3">
            <input type="text" name="field9" placeholder="Input Field">
            <input type="text" name="field10" readonly placeholder="Text Field 4">
        </div>
        <div class="row">
            <input class="num-sub" type="text" name="field11" readonly placeholder="Text Field 1">
            <input type="text" name="field12" readonly placeholder="Text Field 2">
            <input type="text" name="field13" readonly placeholder="Text Field 3">
            <input type="text" name="field14" placeholder="Input Field">
            <input type="text" name="field15" readonly placeholder="Text Field 4">
        </div>
        <!-- add more rows as needed -->
    </div>
</body>
</html>